{
    "plugins": [
      ["prismjs", {
          "languages": [
            "markup",
            "javascript",
            "css",
            "clike",
            "aspnet",
            "bash",
            "c",
            "php"
            
          ],
          "plugins": [
            "copy-to-clipboard",
            "toolbar",
            "autoloader",
            "treeview",
            "inline-color"
          ],
          "theme": "okaidia",
          "css": true
      }]
    ]
  }