.hero-container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: column dense;
  grid-template-areas:
    ". hello-vite ."
    ". vite ."
    "des des des";
}

.vite {
  justify-self: center;
  align-self: center;
  grid-area: vite;
}

.hello-vite {
  justify-self: center;
  align-self: start;
  grid-area: hello-vite;
}

.des {
  justify-self: center;
  align-self: center;
  grid-area: des;
}

  